html, body {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    background-color: rgba(245, 20, 4, 0.6);
    padding: 10px;
    margin: 5px;
}

a:link {
    color: white;
}

a:active {
    color: white;
}

a:visited {
    color: white;
}

.logo {
    position: relative;
    display: block;
    width: 100%;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: large;
    margin: 20px;
}

.app {
    position: relative;
    display: block;
    width: 98%;
    height: 98%;
}

.edit-content {
    position: relative;
    display: block;
    width: 98%;
    height: 40%;
    overflow: auto;
    margin: 10px;
    padding: 5px;
    background-color: rgba(255, 245, 245, 0.6);
    border: 1px solid rgba(24, 20, 4, 0.6);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.btn {
  background-color: rgba(245, 20, 4, 0.6);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  font-family: Arial;
  color: white;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 10px;
  border: none !important;
  border-shadow: none !important;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.btn:focus {
    outline: 0 !important;
}

textarea {
    margin: 5px;
    padding: 4px;
}

.result {
    position: relative;
    display: block;
    width: 98%;
    margin: 10px;
    padding: 5px;
    min-height: 60px;
    background-color: rgba(235, 225, 225, 0.6);
    border-radius: 5px;
    border: 1px solid rgba(24, 20, 4, 0.6);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    overflow: auto;
}

.hoverlay {
    position: relative;
    display: block;
    width: 6%;
    min-width: 60px;
    float: right;
    padding: 2px;
    background-color: rgba(245, 40, 5, 0.8);
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
    color: white;
    text-align: center;
    margin-bottom: 5px;
    border-radius: 5px 5px 0px 0px;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.loader {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    background-color: rgba(50, 50, 50, 0.6);
}

.loader-text {
    display: block;
    position: relative;
    width: 10%;
    left: 40%;
    top: 40%;
    color: white;
    font-size: large;
    text-align: center;
}